.roboto { font-family: 'Roboto', sans-serif; }
.mono { font-family: 'Droid Sans Mono'; }

.ui-header, .ui-footer { padding: 0 10px; }
.editable { padding: 5px; border: 1px solid silver; border-radius: 3px; cursor: pointer; }
.editable:hover { background-color: white; }

/* Split Colours */
#splits table td { text-align: right; }
#splits table td.left { text-align: left; }
.old { color: silver; }
.btbs { color: gold; }
.bt { color: green; }
.bs { color: blue; }
.bad { color: red; }
